<!-- <div class="container"> -->
  <form id="newWorkout" method="POST" action="/workouts">
    <label for="date">Date: </label>
    <input type="date" name="date" value = "<%= Date.today %>">
    <br>
    <label for="swim">Swim (meters): </label>
    <input name="swim" type="integer" value=0>
    <br>
    <label for="bike">Bike (miles): </label>
    <input name="bike" type="float" value=0.0>
    <br>
    <label for="run">Run (miles): </label>
    <input name="run" type="float" value=0.0>
    <br>
    <label for="description">Describe your workout:</label>
    <br>
    <input class="txtbox" name="description" type="text" value = "">
    <br>
    <span id="add_more_form">
      <label for="intensity">Intensity of Workout</label>
      <select name="intensity">
        <option selected value=""></option>
        <option value="recovery">Recovery</option>
        <option value="interval">Interval</option>
        <option value="tempo">Tempo</option>
        <option value="fartlik">Fartlik</option>
        <option value="race">Race</option>
        <option value="other">Other</option>
      </select>
      <br>
      <label for="hours_sleep">Hours Sleep</label>
      <input type="number" name="hours_sleep">
      <br>
      <label for="duration">Duration</label>
      <input class='int' type="integer" name="duration_hours">:
      <input class='int' type="integer" name="duration_minutes">:
      <input class='int' type="integer" name="duration_seconds">
    </span>
    <input id='submit-workout' type="submit" value="Log Workout">

  </form>
<!-- </div> -->
