<div class="container transbox">
 <form action="/signup" method="post">
  <input type="text" name="username" placeholder="username">
  <input type="text" name="name" placeholder="name">
  <input type="integer" name="birthyear" placeholder="birthyear (example 1990">
  <input type="email" name="email" placeholder="email@abc.com">
  <input type="password" name="password" placeholder="password">
  <input type="submit" value="Sign Up!">

 </form>
</div>
