<form action="/" method="post"><input id='create-workout' type="submit" value="Log a workout"></form>
<form action="/workouts/show" method="get"><input id='all-workouts-nav' type="submit" value="View All Workouts"></form>
<form action="/charts" method="get"><input id="go-to-charts" type="submit" value="Go to Charts"></form>
<form action='/search' method="get"><input id="search-workouts" type="submit" value="Search Workouts"></form>
<form action="/workouts" method="get"><input id="return-home" type="submit" value="Return Home"></form>
<br>
<h3>Today is <%= Date.today %>. <% if Workout.count > 0 %>Your last workout was <%= get_last_workout.date %></h3><% end %>

