<% if session[:athlete_id] %>

<form action="/workouts" method="post"><input id='create-workout' type="submit" value="Log a workout"></form>
<form action="/workouts/show-all" method="get"><input id='all-workouts-nav' type="submit" value="View All Workouts"></form>
<form action="/charts" method="get"><input id="go-to-charts" type="submit" value="Go to Charts"></form>
<form action='/search' method="get"><input id="search-workouts" type="submit" value="Search Workouts"></form>
<form action='/workouts/upload' method="get"><input id="upload" type="submit" value="Upload Your Workouts"></form>
<form action="/workouts" method="get"><input id="return-home" type="submit" value="Return Home"></form>
<form action='/logout' method="get"><input id='logout-button' type="submit" value="Logout"></form>
<br>
<h3 id="today">Today is <%= Date.today %>. <% if workouts.length > 0 %>Your last workout was <%= get_last_workout.date %></h3><% end %>

<% else %>

<form action='/signup' method="get"><input id='signup-button' type = "submit" value="Sign Up!"></form>
<form action='/login' method="get"><input id='login-button' type="submit" value="Log In"></form>

<% end %>

