<form action="/workouts" method="post"><input id='create-workout' type="submit" value="Log a workout"></form>
<form action="/workouts/show" method="get"><input id='all-workouts-nav' type="submit" value="View All Workouts"></form>
