<script src="/js/data.js"></script>


<div class="container">
<form id="select_charts_form" action="/charts/show" method="get">
  <label for="Year">Year</label>
  <select name="year">
    <option value="select-year">Select Year</option>
    <% all_years.each do |year| %>
      <option value = "<%= year %>"><%= year %></option>
    <% end %>
  </select>
  <label for="format">Format of Chart</label>
  <select name="format">
    <option value="choose-format">Choose Format</option>
    <option value="individual">Individual Workouts</option>
    <option value="cumulative">Year's Cumulative Workouts</option>
  </select>
</form>
  <div class="charts">
    <div class="chart_div" id="Run"></div>
    <div class="chart_div" id="Bike"></div>
    <div class="chart_div" id="Swim"></div>
  </div>
</div>


<!-- <div id="365_days_charts">
  <h1>Your Last Year</h1>
  <div class="chart_div" id="Run"></div>
  <div class="chart_div" id="Bike"></div>
  <div class="chart_div" id="Swim"></div>
</div> -->
<!-- <div id="cumulative">
  <h1>Cumulative workouts from <% if @year %><%= @year %><% end %>
  <div id="cumulative_charts">
  <div class="chart_div" id="cumul_run"></div>
  <div class="chart_div" id="cumul_bike"></div>
  <div class="chart_div" id="cumul_swim"></div>
</div> -->
