<script src="/js/data.js"></script>

<div class="container transbox">
<span class="new_workout"></span>
<h1>Your Selected Workouts</h1>
<form id="select_charts_form" action="/charts/show" method="get">
  <label for="Year">Year</label>
  <select name="year">
    <option value="select-year">Select Year</option>
    <% if workouts.length > 0 %>
      <% all_years.each do |year| %>
        <option value = "<%= year %>"><%= year %></option>
      <% end %>
    <% end %>
  </select>
  <label for="format">Format of Chart</label>
  <select name="format">
    <option value="choose-format">Choose Format</option>
    <option value="individual">Individual Workouts</option>
    <option value="cumulative">Year's Cumulative Workouts</option>
  </select>
</form>
  <div class="charts">
    <div class="chart_div" id="Run"></div>
    <div class="chart_div" id="Bike"></div>
    <div class="chart_div" id="Swim"></div>
  </div>
</div>
