<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <!-- Google charts -->
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script src="/js/application.js"></script>

  <title>LogAll Taining Log</title>
</head>
<body>
  <header>
    Welcome to LogAll
  </header>
  <navbar>
    <%= erb :'_navbar' %>
  </navbar>

  <%= yield %>
</body>
</html>
